.col.s12.m6.l14{
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.cont{
  width: 100%;
  margin: 0;
  height: 100%;
}

.row.title{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}

.tooltip-icon{
  cursor: pointer;
}
.tooltip-content:hover > p{
  opacity: 1 ;
}
.tooltip-message{
  position: absolute;
  word-break: break-word;
  width: 24rem;
  padding: 0.65rem;
  margin-left: 2.5rem;
  margin-top: -2.7rem;
  border-radius: 0.5rem;
  background: #202124;
  opacity: 0;
}


.row.search{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 9rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.row.search .input{
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 0.5rem;
  height: 6rem;
}
.row.search .input span{
  color: red;
  font-weight: 500;
  font-size: 1.2rem;
}
.row.search input{
  width: 100%;
  border-bottom-color: white;
  color: white;
  font-size: 2rem;
}

.row.search input::placeholder{
  color: white;
}

a.waves-effect.waves-light.btn.m6{
  background: #202124;
  border-radius: 3rem;
  margin-left: 1rem;
}
.row.card-container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.row.card-container .card{
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
}

.card .temperature{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.card .temperature p{
  font-size: 4rem;
  margin: 0;
}
.card .temperature img{
  width: 8rem;
}
.card-content{
  padding: 0 24px;

}
